.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background: #C33764;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #1D2671, #C33764);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #1D2671, #C33764); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.mask1 {
  -webkit-filter: blur(13px); 
  filter: blur(13px); 
}
.main-image{
  display: block;
  transition: filter 0.65s linear 0s;
  image-orientation: from-image;
}
.container {
  position: relative;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
}

img { 
  width: 100%;
  height: auto;
}

#form-file-upload {
  height: 24rem;
  width: 38rem;
  max-width: 100%;
  text-align: center;
  position: relative;
}
@media (max-width: 767px) {
  #form-file-upload {
    height: 28rem;
    width: 22rem;
    max-width: 100%;
    text-align: center;
    position: relative;
  }
  img{
    min-height: 12rem;
    max-height: 24rem;
    max-width: 17rem;
    margin-left: auto;
  margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
  border: 3px dashed rgba(255, 255, 255, 0.12);
  pointer-events: none;
  }
}
@media (min-width: 768px) {
  img{
    min-height: 16rem;
    max-height: 20rem;
    max-width: 36rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
  border: 3px dashed rgba(255, 255, 255, 0.12);
  pointer-events: none;
  }
}

#input-file-upload {
  display: none;
}

#label-file-upload {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
background: rgba(255, 255, 255, 0.13);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(6.2px);
-webkit-backdrop-filter: blur(6.2px);
border: 3px dashed rgba(255, 255, 255, 0.12);
}
#upload-image{
  height: 14rem;
  width: 24rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
border: 3px dashed rgba(255, 255, 255, 0.12);
}

#label-file-upload.drag-active {
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.2px);
  -webkit-backdrop-filter: blur(6.2px);
}


.upload-button {
  cursor: pointer;
  padding: 0.25rem;
  font-size: 1rem;
  border: none;
  font-family: 'Oswald', sans-serif;
  background-color: transparent;
}

.upload-button:hover {
  text-decoration-line: underline;
}

#drag-file-element {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  
}

nav{
  width: 100%;
  background: rgba(255, 255, 255, 0.13);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(30.2px);
  -webkit-backdrop-filter: blur(30.2px);
  line-height: 50px;
  z-index: 1;
  position:absolute;

  
}
nav ul{
  float: right;
  margin-right: 30px;
}
nav div a{
  list-style-type: none;
  display: inline-block;
  transition: 0.2s all;
  
}
nav div a:hover{
  background: rgba(255, 255, 255, 0.13);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.2px);
  -webkit-backdrop-filter: blur(6.2px);
  
}


